# まず "すべて"を無視
/*

# .gitignore 自身は除外リストのままでは困るので追跡許可
!.gitignore

# JSPディレクトリと中身を許可
!/thread/
!/thread/**
!/mainpage
!/mainpage/**
!/make/
!/make/**
!/search/
!/search/**

# WEB-INF ディレクトリと中身を許可
!/WEB-INF/
!/WEB-INF/src/pnw/common/**

# classファイルは追跡しない
/WEB-INF/classes/