body {
    font-family: "Segoe UI", sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 400px;
    margin: 30px auto;
    padding: 20px;
    background-color: #eee;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: #63d6f9;
    color: #000;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    border-radius: 6px 6px 0 0;
    margin-bottom: 20px;
    font-size: 18px;
}

h3, h4 {
    margin-bottom: 8px;
    margin-top: 15px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #bbb;
    border-radius: 4px;
    box-sizing: border-box;
}

.tags {
    margin-bottom: 15px;
}

.tags label {
    display: inline-block;
    margin-right: 10px;
}

textarea {
    height: 100px;
    resize: none;
}

.botton-container {
    text-align: center;
}

.submit-button {
    background-color: #63d6f9;
    color: black;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #63d6f9;
}